[submodule "webex-bin"]
	path = webex-bin
	url = https://github.com/nr23730/arch-webex-bin.git
[submodule "rstudio-desktop-bin"]
	path = rstudio-desktop-bin
	url = https://github.com/nr23730/arch-rstudio-desktop-bin.git
[submodule "antares-sql-bin"]
	path = antares-sql-bin
	url = https://github.com/nr23730/arch-antares-sql-bin.git
